[2014-09-23 18:59] jywarren opened #1 "Pint glass or mason jar"
silicone: flexible, any color, monochrome insignia

Becki: I'm thinking about moving from the Silicon pint glass to a mason jar with cork coozie made by this fellow, still need a design. Sample here: http://instagram.com/p/sDBKbzmGcO/?modal=true

---

Becki: Silicone pint glass ($50 level, color and print options are included in the attachment. Black logo on white glass, white on black? Logo versi

[2014-09-23 19:00] jywarren opened #2 "T-shirt"
1. Tshirt ($100 level, I'd mentioned this to Jeff before, I think it's on his to-do list. We're probably going to print these on demand via Zazzle or something so we dont have to dump a bunch money until we know people will want them)

[2014-09-23 19:01] jywarren opened #3 "Canvas tote"
1. Canvas field bag ($350 donation. "Your image here". What image? http://www.cafepress.com/+gifts_field_bag,1289106740)
   ![screen shot 2014-09-23 at 3 01 21 pm](https://cloud.githubusercontent.com/assets/24359/4377990/0780a262-4354-11e4-88e8-ca47a4d5f336.png)

[2014-09-23 19:04] jywarren commented on #1
Liz, can you add a double hyphen and a space above your sig line so your emails don't leave a sig on Github? Thanks!

Probably going to be a mason jar, it seems.

[2014-09-23 19:37] ebarry commented on #1
+1 mason jar! Can we just use our regular logo, the circle with the boots?

[2014-09-23 19:40] ebarry commented on #2
grey with all-over print of "I'm sorry but we don't have imagery at this zoom level, please contact Public Lab"

[2014-09-23 19:41] jywarren commented on #1
I'd like to get the hand-drawn one out there -- folks say they look too much like socks but I think I can edit that, also @BeckiC wanted a puddle in it. I can rework and that should do it.

[2014-09-23 20:25] BeckiC commented on #1
Update: So of course mason jar guy emailed me back right after I said he'd been unresponsive. I'll take a look at price points and quantities and make a final call--artwork can be the same either way.

[The mason jar guy is being super unresponsive so don't anyone get their hopes up. They're very cool and I'll try to ping him again but I also don't want to spend a bunch of time tracking him down t

[2014-09-23 20:32] jywarren commented on #1
Also lots of laser cutting shops do glass cutting, so there should be other
options for plain writing onto mason jars -- no coozies, sadly.

On Tue, Sep 23, 2014 at 4:25 PM, BeckiC notifications@github.com wrote:

[2014-09-24 18:51] mathewlippincott commented on #2
I don't know that we can do all-over print cheap enough to make that worth while. I believe 14x17 is the best we can do-- but a quick google search turned up a bunch of screen printers doing all-over now.  That wasn't the case in 2011, the last time I looked.
here's one:
https://www.realthread.com/services/print-sizes/standard-size-screen-printing

For running them as one-offs, I think Jak prints

[2014-09-24 19:00] BeckiC commented on #2
Yup, all over print is too expensive. We need to look at options that are
between $10 and $20 to print on demand. To clarify, I'll take lead on
sourcing, I'm asking for help from the design team regarding what to put on
the shirt that is cool and in line with how y'all are planning our larger
branding strategy.

##

Becki Chall
Development Manager
Public Laboratory for Open Technology and Science

[2014-09-25 17:47] ebarry opened #4 ""Get Involved" Card tweaks"
The bottom line on the front of the donation card lists publiclab.org (see image). the URL should be left justified so that people have room to write specific links to direct people to.

![donation-card-front-noborder](https://cloud.githubusercontent.com/assets/161439/4409279/e81ff8e4-44db-11e4-90a3-ba512bc27938.jpg)

[2014-09-25 18:44] jywarren commented on #4
can you make sure Natalie knows about this as she'll be the one to re-order.

On Thu, Sep 25, 2014 at 1:47 PM, Liz Barry notifications@github.com wrote:

[2014-09-25 22:38] ebarry commented on #4
@Nataliegurl see this issue about needing more room around the URL

[2014-09-25 22:58] ebarry opened #5 "Paper Research Note(pads)"
The pads on Zazzle come as sticky Post-It style notes costing ~$280 for a minimum quantity of 48, and they don't have a cover--we'd have to affix that ourselves. I think we need to approach a printer about less fancy tear-off pads with covers.

Cover Illustration:

![why write research notes](https://cloud.githubusercontent.com/assets/161439/4413593/34bdcfde-4507-11e4-8643-151ece715321.png)

Custo

[2014-09-26 16:23] Nataliegurl commented on #4
I see it, can it be changed in the template?

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLab http://www.facebook.com/PublicLab_

_Twitter: @PublicLab, @natcat5050_
_Instagram: public_lab

[2014-09-26 16:24] jywarren commented on #4
can you ping me next time you print them? sure.

On Fri, Sep 26, 2014 at 12:23 PM, Natalie notifications@github.com wrote:

[2014-09-26 17:11] Nataliegurl commented on #4
yep

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLab http://www.facebook.com/PublicLab_

_Twitter: @PublicLab, @natcat5050_
_Instagram: public_lab_

On Fri, Sep 26, 2014 at 9:24 AM, Jeffr

[2014-09-26 18:56] BeckiC opened #6 "Blank Waterproof Pocket notebook"
Eberhardt can print--nice off-brand paper, good cover material. Red cover with white image + rulers on back for easy reference. What cover art?

[2014-10-08 15:34] jywarren commented on #2
OK, i did a bunch of work on one design that didn't go anywhere fast... maybe will try to resuscitate it later, but I just had a brain spark and did this one. It would require 2 colors, although we could do it in 1 color if need be.

![pl-shirt2](https://cloud.githubusercontent.com/assets/24359/4561888/7bddbaca-4f00-11e4-8826-47f043ef5d61.png)

[2014-10-08 15:36] jywarren commented on #6
I really liked how the decal image ran in white on a red cover, as in the email I sent:

![screen shot 2014-09-23 at 6 00 34 pm](https://cloud.githubusercontent.com/assets/24359/4561928/c1511ae8-4f00-11e4-8b19-f346443945e1.png)

I think the pdf I included on that email is good to go, if that looks good to you. We can ditch the "Public Lab" if you don't like it.

We could also do something similar

[2014-10-08 15:47] jywarren commented on #1
could do the drawn logo or the design from the tshirt I posted in #2

[2014-10-08 16:44] BeckiC commented on #2
Cool--it could look nice in 1 color as well. If you want to take some time over staff meeting to work on/refine this since that week might be a little more relaxed, that's fine as well.

[2014-10-08 16:45] BeckiC commented on #6
Great--let's ditch the "Public Lab" and I think it will be good to go. Do we want to do rulers on the back or no? I don't have a strong preference either way.

[2014-10-08 16:47] jywarren commented on #6
I like the rulers. Need artwork for that too, right?
On Oct 8, 2014 12:45 PM, "BeckiC" notifications@github.com wrote:

[2014-10-08 16:53] BeckiC commented on #1
I'm dropping the cork coozie idea and going back to the silicone pint glass. I love the coozies but the guy who we were talking to about making them is taking 1-2 weeks to respond to REALLY basic emails about quantity, etc, even with reminder emails, which is just unacceptable.

[2014-10-08 16:53] BeckiC commented on #6
Yup!

##

Becki Chall
Development Manager
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sustaining Member
http://publiclab.org/donatetoday!_

On Wed, Oct 8, 2014 at 9:47 AM, Jeffrey Warren notifications@github.com
wrote:

[2014-10-08 17:37] mathewlippincott commented on #6
I ran a modified version of this chart on the second GMF as a photo scale, it can be used to rectify an image too.  Great for taking field shots of samples and looks cool. What do you think?

![refscale_3x](https://cloud.githubusercontent.com/assets/1203280/4563727/76d7b826-4f11-11e4-84ae-bb4a27cb4cd7.jpg)

I made a high-res photoshop version here that could be modified quickly, I could do it too.

[2014-10-08 17:39] mathewlippincott commented on #2
that looks really good.  I don't think it needs refining. I like how rough it is.

[2014-10-08 17:40] mathewlippincott commented on #1
at that scale I think the seal on the notebook would look better.

[2014-10-08 18:27] jywarren commented on #2
more variations. Shannon mentioned she'd like to see a version with formal type. I wanted to try a few different things. I like the original best, but could imagine a more tightly hand-lettered version working.

![screen shot 2014-10-08 at 2 20 31 pm](https://cloud.githubusercontent.com/assets/24359/4564582/c484dd54-4f18-11e4-8149-709e6de0d372.png)
![screen shot 2014-10-08 at 2 24 47 pm](https://c

[2014-10-08 18:59] jywarren commented on #6
![screen shot 2014-10-08 at 2 32 48 pm](https://cloud.githubusercontent.com/assets/24359/4564694/9b5b8774-4f19-11e4-8cdc-72d1dc9ef3a8.png)

I like what Mathew posted. Might look like this:

![screen shot 2014-10-08 at 2 57 49 pm](https://cloud.githubusercontent.com/assets/24359/4565119/15e1d018-4f1d-11e4-9969-3d067462d10f.png)

Mathew, do you think Charles can print with the raster version of the

[2014-10-08 19:21] jywarren opened #7 "new "drawn" sticker v2"
![comparison](https://cloud.githubusercontent.com/assets/24359/4565471/2cc1ffc6-4f20-11e4-8c57-271ce5207bb5.png)

Left: new version w/ bootier boots (less socky), and a puddle. Right: older version.

Feedback from @mathewlippincott and @ebarry and @sdosemagen ?

[2014-10-08 20:02] jywarren opened #8 "slides for big screen in the OMSI store"
@Nataliegurl  sez: I need to get a slide made that we can display on the big screen in the OMSI store. This is a great opportunity to generate more interest and also drive sales. We can switch them out from time to time as well. I'm working on some of our holiday promotion approaches but for now I would like something that is minimal but gets people interested. Something like, "what can you do to

[2014-10-08 20:06] jywarren commented on #8
@Nataliegurl - when would these go live, assuming we had them in time? Would the KS lead image with the lasers and sample jars be appropriate, or not, because they don't stock the HOTK? Maybe something based on these smartphone spectrometer or foldable spec images:

![smartphone_1024x1024](https://cloud.githubusercontent.com/assets/24359/4566163/6810dc5e-4f26-11e4-97e3-338769aebb2f.jpg)
![cd83273f

[2014-10-08 21:06] jywarren commented on #1
yay fun:

![screen shot 2014-10-08 at 5 03 22 pm](https://cloud.githubusercontent.com/assets/24359/4567193/ea018da0-4f2e-11e4-90ec-145b28b945d8.png)![screen shot 2014-10-08 at 5 04 12 pm](https://cloud.githubusercontent.com/assets/24359/4567192/e9fbb18c-4f2e-11e4-98e6-7cec82a0b918.png)

[2014-10-08 22:13] Nataliegurl commented on #8
Live within the week or as soon as I can get them sent, it wouldn't be
long. I agree with both statements. The Foldup slide should be there with a
little bit of text added along the lines of what I suggested. And yes to
the Infragram staging as well.

I think the KS lead image might work if we change the text. Have it
centered around the sprectrometer as the the basis, then add something at
the bo

[2014-10-08 22:17] jywarren commented on #8
I like the idea of teasing the KS, but our conversion rate from a screen in
the store probably isn't going to be great; maybe we should just focus on
some nice images that'll last a while.

On Wed, Oct 8, 2014 at 6:13 PM, Natalie notifications@github.com wrote:

[2014-10-08 22:32] Nataliegurl commented on #8
Whatever you think is best. I agree the conversion rate won't be huge, it's
just a little added coverage, but the KS will be over and we'd have to
update it.

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.fac

[2014-10-08 22:37] jywarren commented on #8
![foldable-1920x1080](https://cloud.githubusercontent.com/assets/24359/4568575/aaa4253e-4f3b-11e4-903e-7c37f7b65136.jpg)

[2014-10-08 22:48] jywarren commented on #8
![smartspec](https://cloud.githubusercontent.com/assets/24359/4568709/30727002-4f3d-11e4-9ce3-e58359c4290e.jpg)

[2014-10-08 23:06] Nataliegurl commented on #8
These look great! The smartphone spec isn't in store though, just the
Foldup. I would really like one for the Infragram as well. To date we've
only sold one of those at the store, and I would like to give it some more
attention.

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@pub

[2014-10-08 23:10] jywarren commented on #8
Which infragram?
On Oct 8, 2014 7:07 PM, "Natalie" notifications@github.com wrote:

[2014-10-08 23:12] Nataliegurl commented on #8
The webcam.

Sent from my iPhone

[2014-10-08 23:21] mathewlippincott commented on #6
yup, he can do rounded corners.  let me reach out to him on the final size-- he sourced that tiger paper since we last talked sizes.

[2014-10-08 23:23] mathewlippincott commented on #7
bootier!  nice!

[2014-10-08 23:24] mathewlippincott commented on #2
I actually like the original, scrappy letters the best, second best is the new hand letters, after that the flat, non-outlined cursive.

[2014-10-09 16:23] mathewlippincott commented on #1
the blue.  Yes! Yes!

[2014-10-09 19:59] jywarren commented on #8
![infragram-2](https://cloud.githubusercontent.com/assets/24359/4583005/d98cd460-4fed-11e4-942d-2e1a62bc55a2.jpg)
![infragram-1](https://cloud.githubusercontent.com/assets/24359/4583003/d98216a6-4fed-11e4-819d-ac1c1d71570f.jpg)

[2014-10-09 20:53] jywarren commented on #8
actually this image is rad

![infragram-3](https://cloud.githubusercontent.com/assets/24359/4583925/61b0b7fa-4ff6-11e4-8c0d-6f37bb717ef4.jpg)
![infragram-3b](https://cloud.githubusercontent.com/assets/24359/4583926/61bde434-4ff6-11e4-81ab-f284adf5f4c3.jpg)

[2014-10-09 20:58] Nataliegurl commented on #8
That is super cool! Actually, Mathew just pointed out though, are those
images taken with the P&S? I think we need images taken with the filter
from the webcam? Does that make red leaves?

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://ww

[2014-10-09 21:05] jywarren commented on #8
do you have any IG webcam images that are as rad as these?

On Thu, Oct 9, 2014 at 4:58 PM, Natalie notifications@github.com wrote:

[2014-10-09 21:19] Nataliegurl commented on #8
Can we grab any of these?
http://publiclab.org/notes/ivalethia/09-20-2014/first-infragram-cam-trials-primeros-ensayos-con-camaras-infragram

http://publiclab.org/notes/cfastie/09-19-2014/leaffest-aerials

Mathew probably has more on this than I do.

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publi

[2014-10-09 21:38] jywarren commented on #1
pantone PMS 2736

[2014-10-09 21:39] jywarren commented on #1
sending vectors to Becki

[2014-10-09 21:48] BeckiC commented on #2
I really like the overall concept of the shirt, including the hand drawn
text! I do think, however, the drawing needs to be cleaned/neatened up a
bit, though, so that its clear to people outside the "inner circle" what
the objects on the shirt are. Maybe swap some of the more ambiguous ones
out for something more readily identifiable--a kite or something. I want a
shirt design that we all feel sup

[2014-10-10 16:30] jywarren commented on #6
the ruler is CC-NC, so I looked for another more open one; this one is CC-zero:

https://commons.wikimedia.org/wiki/File:Echelle_mm_cm_pour_photo.svg

![ruler](https://cloud.githubusercontent.com/assets/24359/4595538/bc384c70-509a-11e4-9b28-be2f469cc2de.png)

[2014-10-10 16:31] jywarren commented on #6
do we like the drawn seal (bootier version), the tshirt draft, or the kite-flying-thing from the first mockup I did?

[2014-10-10 16:42] BeckiC commented on #6
I like the kite flying thing, like we used for the decal.

##

Becki Chall
Development Manager
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sustaining Member
http://publiclab.org/donatetoday!_

On Fri, Oct 10, 2014 at 9:31 AM, Jeffrey Warren notifications@github.com
wrote:

[2014-10-10 16:49] jywarren commented on #6
ok, pending paper size but I laid it out in the same as Field Notes books; 5.5x3.5 - it's in the /plots/design/ folder

[2014-10-10 21:32] mathewlippincott commented on #6
We talked back and forth about it-- final size is 4.75x3.25.  remember that "centered" has to account for the rounding of the binding, so more like a right-justified 3.125" cover, if you want to get particular.

[2014-10-10 21:32] mathewlippincott commented on #6
we're going to do 32 pages.

[2014-10-10 21:33] mathewlippincott commented on #6
nice call on the CC zero chart. weird to have someone else's url on our notebook

[2014-10-11 21:08] jywarren commented on #2
other more graphical/textural ideas. i'd be more into dropping specific recognizable items, as I think they are more likely to be relevant to "insiders". i have more in my sketchbook and we can iterate/develop more this coming week.

![tshirt-waves-diag](https://cloud.githubusercontent.com/assets/24359/4604170/7f79cfd4-518a-11e4-80cf-23f35c1d6917.jpg)
![tshirt-waves](https://cloud.githubuserconten

[2014-10-12 23:51] ebarry commented on #5
The printing on the post-it pads from Zazzle is a little blurry. New plan is to work with Charles the Portland printer to get plain paper notes printed at 3 - 4 cents per page, then send them off to get "perfect bound with a chipboard back cover and a printed front cover. Should be cheaper than working with Zazzle. Estimated 10 day turnaround once placing the order.

[2014-10-13 16:40] mathewlippincott commented on #6
OK we can't use Tiger Paper... Have to order too much for the quantities we're doing.

We are going to try Yupo, that comes in the quantities we want. Charles recommends 57lb text and 100lb cover, told us we have to order our own samples.  I'm not sure where we order a single page of exactly this paper.  Their watercolor paper comes in 10 packs but I don't know if that will have the same ink respo

[2014-10-13 16:51] mathewlippincott commented on #6
I contacted them for samples.

[2014-10-15 16:36] mathewlippincott commented on #6
they didn't get back to us about samples so I bought a ream of 57lb text weight ($77).  I'm holding off on the cover stock until we see we really want to write on this stuff.

[2014-10-16 19:36] jywarren commented on #2
more!
![shirts-3](https://cloud.githubusercontent.com/assets/24359/4669186/a6633eca-556b-11e4-9f7c-aab6c2029651.png)
![shirts-4](https://cloud.githubusercontent.com/assets/24359/4669163/7363cf58-556b-11e4-87b6-b514a164d639.png)

[2014-10-17 23:53] jywarren commented on #2
Another!
![shirt-assemblage](https://cloud.githubusercontent.com/assets/24359/4687612/b40b5a24-5658-11e4-9d95-34a7aa20a22d.png)

[2014-10-17 23:56] sdosemagen commented on #2
Like. The lettering is a little strange, but the design is really clear as to what it is.

[2014-10-17 23:58] jywarren commented on #2
@mathewlippincott also had some good pointers on tweaking/improving the shirt details, like the carabiner and DVD. Text was the part I was least happy with; can retry it for sure.

[2014-10-20 17:09] BeckiC commented on #2
I echo what Shannon said about the latest design. I really like that one as
well as the top left of the four you sent out previously.

##

Becki Chall
Development Manager
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sustaining Member
http://publiclab.org/donatetoday!_

On Fri, Oct 17, 2014 at

[2014-10-22 21:20] Nataliegurl commented on #8
Just bring this back to the top. Do we have a status update on the sweet Infragram pic you found?

[2014-10-22 21:36] jywarren commented on #8
yes, it's in plots/design/##-##-##-omsi-screen - take a look!

On Wed, Oct 22, 2014 at 2:20 PM, Natalie notifications@github.com wrote:

[2014-10-22 22:16] Nataliegurl commented on #8
Nice!

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLab http://www.facebook.com/PublicLab_

_Twitter: @PublicLab, @natcat5050_
_Instagram: public_lab_

On Wed, Oct 22, 2014 at 2:36 PM, Jef

[2014-10-23 13:45] #8 closed, assigned to nobody

[2014-10-23 21:14] jywarren commented on #2
If there's a concern about the amount of ink making the shirt creas-y, we could do this version (also see for text changes) but I think the white backing really makes the shirt pop. Threadless prints a bit lighter-weight with their inks, so if we get a good printing job I don't think the extra ink will be a problem, and I prefer the light grey backing.

![screen shot 2014-10-23 at 5 12 59 pm](http

[2014-10-23 21:21] jywarren commented on #2
Oops, wrong image; W/ white backing on text -- maybe the text should be completely redrawn though:

![screen shot 2014-10-23 at 5 20 59 pm](https://cloud.githubusercontent.com/assets/24359/4761729/9b7efd2a-5afa-11e4-990f-9316129c58c2.png)

[2014-10-23 21:23] BeckiC commented on #2
I like them both though am a bit concerned about the stiff shirt issue. If
we like the design, we could order one of each from Zazzle or a similar
site on a nice Threadless-weight shirt and see what we think?

##

Becki Chall
Development Manager
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sus

[2014-10-23 21:25] jywarren commented on #2
Sounds good to me -- can we get input from a screenprinter on the ink
weight and stiffness? I'm worried Zazzle won't be good quality.

On Thu, Oct 23, 2014 at 5:23 PM, BeckiC notifications@github.com wrote:

[2014-10-23 21:37] BeckiC commented on #2
Sure, I'll run it past my friend Will.

##

Becki Chall
Development Manager
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sustaining Member
http://publiclab.org/donatetoday!_

On Thu, Oct 23, 2014 at 2:25 PM, Jeffrey Warren notifications@github.com
wrote:

[2014-10-27 16:47] Nataliegurl opened #9 "Ads for SciStarter and SciCheer"
I need a few ad type banners to run on the SciStarter and Science Cheerleaders website. This is what she sent me:

"Thanks, Natalie.
We have ads on each of the project pages so we can cycle through different product ads that way. We'll need the ads from you...200 x 200 image with appropriate links.
And, yes, we will push sales through science cheerleader and (possibly) at events. This is such a na

[2014-10-27 19:07] Nataliegurl opened #10 "Add text to Infragram pic for Store carousel"
Can you please add text for this home page pic?
![carousel-item-3](https://cloud.githubusercontent.com/assets/7808557/4797537/67bba65e-5e0c-11e4-8380-d2a993f820e9.jpg)

[2014-10-27 19:21] jywarren commented on #10
![infragram-banner](https://cloud.githubusercontent.com/assets/24359/4797805/71340c6a-5e0e-11e4-9051-59b0d279a205.jpg)

[2014-10-27 19:21] #10 closed, assigned to jywarren

[2014-10-27 19:30] ebarry commented on #5
Wire binding is also an option, with chipboard cover and backing.
Proposed dimension of 5.5" x 8.5"
Still being resolved is whether the hand drawn version of the pages can work as is (http://i.publiclab.org/system/images/photos/000/007/037/original/paper-research-note.jpg) or will need to be redrawn somehow but not fully vectorized like http://i.publiclab.org/system/images/photos/000/005/810/origi

[2014-10-28 21:40] ebarry commented on #5
OK @jywarren contributed the vector version of the hand-drawing: http://i.publiclab.org/system/images/photos/000/005/815/original/paper-research-note.pdf

Planning a run of 100 5.5"x8.5" wirebound books, with chipboard printed front and blank back covers, each containing 60-80 pages of 60# paper printed single side with the research note drawing.

Does anyone want the ink to be a color other than

[2014-10-29 17:37] mathewlippincott commented on #5
can we do a light blue background for the black ink?

[2014-10-29 17:37] mathewlippincott commented on #5
I mean on the cover.  I think b&w is best for the inside

[2014-10-29 17:44] jywarren commented on #5
Dark blue ink on a light blue background, both somewhat low saturation,
would look great.

On Wed, Oct 29, 2014 at 1:37 PM, mathew lippincott <notifications@github.com

[2014-10-29 22:40] ebarry commented on #5
Sounds great. I'll check with Charles. Just curious though, is the blue
theme related to anything else currently going on graphically in Public Lab?

##

@lizbarry http://twitter.com/lizbarry

On Wed, Oct 29, 2014 at 1:44 PM, Jeffrey Warren notifications@github.com
wrote:

[2014-10-29 23:23] jywarren commented on #5
Nope, just riffing on your suggestion of blue.

On Wed, Oct 29, 2014 at 6:40 PM, Liz Barry notifications@github.com wrote:

[2014-10-30 16:46] ebarry commented on #5
There aren't many options for light blue paper on the cover. In Charles' words:
"inexpensive 65# cover stock (which is okay but not very thick) or a more expensive grade of paper in 80#, such as Classic Crest, smooth or linen. I think Mohawk Via also has a light blue sheet in 80#."

So am making the call to keep the front cover as chipboard (as is the back cover) and we'll print on it with dark bl

[2014-10-30 17:05] jywarren commented on #5
If it's chipboard, can you print in white or black? There's a collection of
design ideas in /plots/retail/packaging-ideas/ -- not a big deal, but for
consistency's sake.

On Thu, Oct 30, 2014 at 12:46 PM, Liz Barry notifications@github.com
wrote:

[2014-10-30 17:09] ebarry commented on #5
I"ll check out that folder, thanks! How about white ink on the cover?

[2014-10-30 17:31] jywarren commented on #5
ask! charles has said he has trouble getting white ink to show, and has
recommended screenprinting that in the past. But maybe it's paper dependent?

On Thu, Oct 30, 2014 at 1:09 PM, Liz Barry notifications@github.com wrote:

[2014-11-03 19:17] mathewlippincott commented on #6
OK-- the waterpoof Yupo works pretty well-- pencil, ballpoint, and sharpie (solvent-based) pens write fine.  Gel pens, felt tips, and water-based pens don't dry quickly and will smudge up to 10 minutes after writing.  Its not ideal, but its pretty damn good and recyclable. We're going to order the cover stock and go for production

Final details:
32 pages
rounded corners
ruler on back
printing on

[2014-11-03 19:54] BeckiC commented on #1
Hey all! Looking at the images Jeff sent, I'm still a little concerned that image needs to be cleaned up a bit if folks are going to be able to recognize some of the things on there. What do either of you think about using the tshirt design for the pint glass? Maybe the colored-in version? The tshirt printers I've spoken with so far have both said that the outline-only version will work better on

[2014-11-03 19:58] BeckiC commented on #2
Hey Jeff,

Is there a good AI or EPS image of the filled in tshirt design? I want to send it to the silicone pint glass guy to see about getting a mockup, and shop it around a bit in Portland to see what options we might have locally since the mason jar guy flaked on me. Thanks!

[2014-11-03 20:42] jywarren commented on #2
yes, there should be a PDF in the Dropbox folder something like
/plots/design/xx-xx-xx-tshirt

On Mon, Nov 3, 2014 at 2:58 PM, BeckiC notifications@github.com wrote:

[2014-11-03 20:43] jywarren commented on #1
I think it could work; it'd be good to see a mockup, though!

On Mon, Nov 3, 2014 at 2:54 PM, BeckiC notifications@github.com wrote:

[2014-11-03 20:44] jywarren commented on #6
+1 all sounds rad.

On Mon, Nov 3, 2014 at 2:17 PM, mathew lippincott notifications@github.com
wrote:

[2014-11-03 20:55] BeckiC commented on #2
Will the assemblage image in the pint glass folder work for a pint glass
mock up given it has the tshirt color behind it?

https://www.dropbox.com/s/wdp7gso6upauyp7/assemblage.svg?dl=0

Or is there a file of just the design that I'm not seeing? Sorry, I'm just
not familiar enough with this to know what's appropriate to send.

Thanks!

##

Becki Chall
Development Director
Public Laboratory for Open

[2014-11-03 21:05] jywarren commented on #2
Yes, its vector so they'll be able to remove the background easily.
On Nov 3, 2014 3:56 PM, "BeckiC" notifications@github.com wrote:

[2014-11-05 21:55] jywarren commented on #9
Hi, Natalie - i'm sorry, getting behind on this. Is it OK to do it next
week before the barnraising? I'm trying to get in order for the HOTK event
this weekend (w/ the awards)

On Mon, Nov 3, 2014 at 6:00 PM, Natalie notifications@github.com wrote:

[2014-11-05 22:07] Nataliegurl commented on #9
Sure thing. As soon as you can get to it is fine.

Sent from my iPhone

[2014-11-07 05:07] Nataliegurl opened #11 "Holiday Promotion ads/graphics"
Hi team,

Just want to put this in your head, for when you have free draw time.
-ala Mathew- "Is that Spectra of light from Santa's sleigh? Or fumes from the coal plant? Let's find out with or Smartphone Foldups from Public Lab"
- a Public Lab sustainer membership is the gift that keeps on giving, and better than a Jelly of the month club.
  -This New Year, turn over a New Leaf and see it through

[2014-11-07 22:26] BeckiC commented on #2
Hey Jeff,

Is there a vector image of the outline only version with the original (3-d,
not flat stretched) text? I think that's the version I'd like to use. I had
sent the printer a version in a lower quality format and it appears sort of
blocky once it's sized up for the shirt.

Thanks!
Becki

##

Becki Chall
Development Director
Public Laboratory for Open Technology and Science
810-287-3940
www.

[2014-11-07 22:29] BeckiC commented on #2
Proof here:
https://www.dropbox.com/s/o1pe6q0udz7a4a4/Lab%20Equipment%20PROOF.pdf?dl=0

##

Becki Chall
Development Director
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sustaining Member
http://publiclab.org/donatetoday!_

On Fri, Nov 7, 2014 at 2:26 PM, Becki Chall becki@publiclab.org wrote:

[2014-11-25 20:02] BeckiC opened #12 "End of Year donation appeal flyer to include in Kits shipments"
I'm going to be drafting text for a end of year donation appeal flyer to include in all kits shipments between now and the end of the year. I'd appreciate any help on formatting. I'll link to text once it's drafted. Thanks!

[2014-11-25 22:24] Nataliegurl commented on #9
Bump.

Any progress on this?

[2014-12-01 20:46] jywarren commented on #5
These turned out great. Closing unless any additional tweaks?

[2014-12-01 20:46] #5 closed, assigned to nobody

[2014-12-01 20:46] jywarren commented on #2
Closing this for now as they've been printed

[2014-12-01 20:46] #2 closed, assigned to jywarren

[2014-12-01 20:47] jywarren commented on #4
Actually i think we may want to leave as-is since I sometimes put my email address on it, like [jeff@]publiclab.org

Is that OK? Can we close this issue?

[2014-12-01 20:48] jywarren commented on #3
@BeckiC I think the design that was printed on the tshirts would be perfect on this, no? I'm going to close but feel free to re-open

[2014-12-01 20:48] #3 closed, assigned to jywarren

[2014-12-01 20:48] jywarren commented on #12
Happy to format once you have the text. Rad.

[2014-12-02 02:08] BeckiC commented on #12
Support Public Lab with a year end, tax-deductible donation!

Did you know that Public Lab is an open community supported by a nonprofit? Show your commitment to empowered, healthy communities by donating to Public Lab today. As a nonprofit organization, Public Lab relies on contributions from individuals like you. These donations allow us to design innovative hardware and partner with communities

[2014-12-03 23:24] BeckiC commented on #1
Hi Jeff! I sent the SiliPint guy the pdf of the Assemblage image (the filled in version) and he said he needs an .AI or .EPS format of it to do a mock up. Do you have that? I don't see those formats in the Dropbox file.

[2014-12-08 18:02] BeckiC commented on #12
Bump bump bump! Jeff, we need this ASAP so we can get them in kits shipments for the next couple weeks. Thanks!

[2014-12-08 18:59] jywarren commented on #12
OK - I recommend printing on a thick piece of linen card paper, in black ink -- the design will be saved in /plots/design/2014-12-08-donation-kits/ once I'm done -- what mailing address do you want them to send it to?

[2014-12-08 19:07] BeckiC commented on #12
Mail to:  Public Lab
412 NW Couch Street
#401
Portland, OR 97209

[2014-12-08 19:19] #12 closed, assigned to nobody

[2014-12-08 20:38] mathewlippincott opened #13 "Balloon kit insert for velcro straps, 1/4 sheet"
![screen shot 2014-12-08 at 12 35 51 pm](https://cloud.githubusercontent.com/assets/1203280/5346639/e1e3ee56-7ed6-11e4-9fd7-7959d562d4b6.png)
plots/retail/balloon-kit/retail-balloon-kit-pdfs/velcro_sub.pdf

[2014-12-08 21:43] Nataliegurl commented on #4
@ebarry ? I'm fine with it, so there's room on both sides.

[2014-12-08 21:47] Nataliegurl commented on #9
This would be a good to go along with our holiday/year end promotion.

[2014-12-08 21:52] #4 closed, assigned to nobody

[2014-12-09 00:50] mathewlippincott commented on #6
looks like we just re-did field notes R&D, lol:
http://fieldnotesbrand.com/colors/expedition/

[2014-12-09 02:03] mathewlippincott commented on #6
updated, in same folder design/10-8-14-blank-notebook

still nothing on back inside cover.... should we add something?  CERN license is rediculous, doesn't fit at all at any legible size.

![screen shot 2014-12-08 at 6 01 38 pm](https://cloud.githubusercontent.com/assets/1203280/5351061/5905d59e-7f04-11e4-86ce-8cc0e22f403e.png)

![screen shot 2014-12-08 at 6 01 27 pm](https://cloud.githubuserconte

[2014-12-09 14:31] jywarren commented on #6
Very lovely! I like it a lot.

Maybe back inside cover: http://publiclab.org/wiki/kite-mapping-tips

Dunno. Or that could go in the front inside and the text from the front
could go in the back? Anyways it looks super.

On Mon, Dec 8, 2014 at 9:03 PM, mathew lippincott notifications@github.com
wrote:

[2014-12-09 22:21] mathewlippincott commented on #6
Take 2.  I made the back a little flashier as a photo target, and moved the interior info as jeff suggested.  thoughts?

![screen shot 2014-12-09 at 2 20 51 pm](https://cloud.githubusercontent.com/assets/1203280/5367168/9e0d8c04-7fae-11e4-964c-37f5e992e277.png)

![screen shot 2014-12-09 at 2 20 22 pm](https://cloud.githubusercontent.com/assets/1203280/5367175/a1892168-7fae-11e4-86d7-93df50fdb98f.p

[2014-12-10 17:54] mathewlippincott commented on #6
garish or stylish? I know the color is a little off of our mock-up.

![screen shot 2014-12-10 at 9 53 03 am](https://cloud.githubusercontent.com/assets/1203280/5381055/870df8e6-8052-11e4-8774-4d63c805d06d.png)

[2014-12-10 18:02] BeckiC commented on #6
Not quite garish or stylish--functional.

##

Becki Chall
Development Director
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sustaining Member
http://publiclab.org/donatetoday!_

On Wed, Dec 10, 2014 at 9:54 AM, mathew lippincott <notifications@github.com

[2014-12-10 19:15] mathewlippincott commented on #6
if we can't do a full-color print-- like all red over the white, what other color directions do we want to go in?  running tests with charles now.

[2014-12-10 23:05] BeckiC commented on #6
I like black and white but if we think that's too boring, I'm open to
suggestions.

##

Becki Chall
Development Director
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sustaining Member
http://publiclab.org/donatetoday!_

On Wed, Dec 10, 2014 at 11:15 AM, mathew lippincott <
notifications@github

[2014-12-10 23:29] Nataliegurl commented on #6
black and white +1
or
black and red!

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLab http://www.facebook.com/PublicLab_

_Twitter: @PublicLab, @natcat5050_
_Instagram: public_lab_

On We

[2014-12-12 19:38] jywarren commented on #11
what formats and sizes would these be in, and what venues would they be run in? print, digital, as website banners or on webpages? Sorry for the delay getting to them!

[2014-12-12 20:14] jywarren commented on #9
OK; i'd like to use this image, but could you ask Hagit? https://www.flickr.com/photos/fiestin/8441107262/

Here are four images:

![balloonkit-200x200](https://cloud.githubusercontent.com/assets/24359/5418598/88102316-8211-11e4-95e6-d950431ec132.png) ![foldable-200x200](https://cloud.githubusercontent.com/assets/24359/5418600/88123142-8211-11e4-83c0-f7e0d92846a7.png) ![infragram-200x200](https://

[2014-12-12 20:16] jywarren commented on #9
The balloon image I did use was on this page: http://publiclab.org/wiki/new-york-city -- and I think you'll have to ask @ebarry where it's from so we can attribute it. The rest of the photos Mathew and I took.

[2014-12-12 20:18] ebarry commented on #9
ok that was taken by Nick johnson --- Nick,what's the photo credit on this
image of your freshkills  Freshkills workshop?
 [image: Inline image 1]

##

@lizbarry http://twitter.com/lizbarry

On Fri, Dec 12, 2014 at 3:16 PM, Jeffrey Warren notifications@github.com
wrote:

[2014-12-12 20:23] jywarren commented on #9
If it's on the pl website, it's CC-BY-SA and we can put his username on it. What's his username?

[2014-12-12 20:51] Nataliegurl commented on #11
186px square, and 560px w x 280px h, jpg, Soundes emails, Shopify store
carousel/product pics, digital, one banner, one as kits button on home page.

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com

[2014-12-12 21:09] jywarren commented on #11
So would these be primarily images, below which would appear the text you've suggested above? What kind of imagery?

[2014-12-12 22:02] Nataliegurl commented on #11
Yes exactly,

mostly images I can attach to promotional emails and contacts. We need to
update the home page button for kits to have something. Something holiday
themed (either generic, or with kits pictured), festive, I'm open to
creative license. Text can be like above or just something along the lines
of "specials through the month of December, find out at store.publiclab.org"

##

Natalie Mayo

[2014-12-16 21:11] mathewlippincott commented on #6
Charles doesn't think the color is going to be an issue.

[2014-12-16 21:13] BeckiC commented on #6
Did he have an ETA on printing them?

##

Becki Chall
Development Director
Public Laboratory for Open Technology and Science
810-287-3940
www.publiclab.org http://www.publiclaboratory.org/

_Love our work? Become a Public Lab Sustaining Member
http://publiclab.org/donatetoday!_

On Tue, Dec 16, 2014 at 1:11 PM, mathew lippincott <notifications@github.com

[2014-12-16 22:35] mathewlippincott opened #14 "Spectrometer 3.0 graphics"
We need to figure out what graphics to place on the new spectrometer. I'm going to propose that we only print on one of the two pieces and leave the top unprinted.
![spectrometer internal](https://cloud.githubusercontent.com/assets/1203280/5463274/183d4556-8530-11e4-8829-7f218bc9344a.png)

I want to print the relationship of parts and references to @cfastie and other's notes on one big side, and t

[2014-12-17 01:57] mathewlippincott commented on #14
this is getting there.   need to add the notes in.
![screen shot 2014-12-16 at 5 49 33 pm](https://cloud.githubusercontent.com/assets/1203280/5465457/f2fa79ea-854c-11e4-8645-c80bac718d77.png)

[2014-12-17 15:54] jywarren commented on #14
Can we print a light cm grid on there too? Good for modding and such.
Looks great.
On Dec 16, 2014 8:57 PM, "mathew lippincott" notifications@github.com
wrote:

[2014-12-17 19:01] Nataliegurl opened #15 "Ads for professorblue.com"
We are setting up a drop ship relationship with them similar to Scistarter, Science Cheerleader ads.
We could probably use the same ones for both. If I just need images and product info I will copy and send from the store. But I may need different images so FYI on you radar at some point.

[2014-12-17 19:01] #11 closed, assigned to mathewlippincott

[2014-12-18 04:41] mathewlippincott commented on #14
![screen shot 2014-12-17 at 8 38 35 pm](https://cloud.githubusercontent.com/assets/1203280/5483731/0503375e-862d-11e4-8c3a-92406aee108b.png)
![screen shot 2014-12-17 at 8 38 19 pm](https://cloud.githubusercontent.com/assets/1203280/5483732/09f4b8be-862d-11e4-824a-1890d5604c50.png)
![screen shot 2014-12-17 at 8 38 27 pm](https://cloud.githubusercontent.com/assets/1203280/5483734/0cd05872-862d-11e4-

[2014-12-18 04:41] mathewlippincott commented on #14
![screen shot 2014-12-17 at 8 39 57 pm](https://cloud.githubusercontent.com/assets/1203280/5483736/1729cc7c-862d-11e4-9d43-29ef0c8ee632.png)

[2015-01-08 18:25] Nataliegurl commented on #15
Ping

[2015-01-08 18:34] jywarren commented on #15
Hi, Natalie - did you look at the scistarter ones? https://github.com/publiclab/design/issues/9#issuecomment-66828385

What do you think? If you need different images and text, add them here and I can modify them. Thanks!

[2015-01-08 18:34] jywarren commented on #9
Natalie, did these work? Can we close this issue?

[2015-01-08 18:54] Nataliegurl commented on #15
Okay, yeah I think they should work. I've sent and will see what they say,
if we need anything else. Thx

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLab http://www.facebook.com/PublicLab

[2015-01-08 18:56] #9 closed, assigned to jywarren

[2015-01-08 23:39] Nataliegurl commented on #14
Sticker label graphics etc. @mathewlippincott

[2015-01-14 02:11] Nataliegurl opened #16 "Front page image of DSK3.0 for kits button"
Can @jywarren or @mathewlippincott please make a button for this. This one looks cool.
![mock](https://cloud.githubusercontent.com/assets/7808557/5732932/8b6cf456-9b4f-11e4-9557-04a736a9817f.jpg)

[2015-01-17 01:43] Nataliegurl opened #17 "More ads for SciStarter et al, DSK 3.0, w/updated product pics"
Have these new pictures been done for the store and ad? @mathewlippincott
I'm currently using ones pulled from the research note, but I need an ad done up like the other SciStarter ones @jywarren

[2015-01-23 01:13] mathewlippincott commented on #14
box sticker in dropbox:
plots/design/12-16-14-spectrometer3.0 gfx/box label
![screen shot 2015-01-22 at 5 10 19 pm](https://cloud.githubusercontent.com/assets/1203280/5868100/d48a2666-a259-11e4-8e25-85de17922213.png)

[2015-01-23 02:52] Nataliegurl commented on #14
Forwarded to Charles for run

Sent from my iPhone

[2015-01-30 00:00] jywarren commented on #16
ooh this is a nice image too; i could switch it if you like? otherwise closing.

[2015-01-30 00:00] #16 closed, assigned to nobody

[2015-02-09 22:01] #13 closed, assigned to nobody

[2015-02-18 17:59] Nataliegurl commented on #14
Can we update the bundle picture?
![oldbundle](https://cloud.githubusercontent.com/assets/7808557/6253261/c8278d5e-b754-11e4-8082-5a45e4352718.png)

[2015-02-18 18:08] Nataliegurl opened #18 "Cobranding for KAPTERY kits"
We need another sticker label similar to the MultispeQ. By the Kaptery, brought to you by Public Lab etc.

![redstone pica](https://cloud.githubusercontent.com/assets/7808557/6253348/8764e3f6-b755-11e4-8d8c-6ee5ae5b1dcb.png)
(I would like all incubated kits done in green if possible)

Parts list for Redstone Rig:
http://fastie.net/kit-information/redstone-rig/redstone-parts/

Can we also add a che

[2015-02-18 18:58] jywarren commented on #18
@Fastie - can you provide the following?
- a 24 character or less subtitle for what it does or is
- an 8 or fewer item list of parts inside the kit
- a 3d model I can open in sketchup, and/or a vector (pdf, csv) export of the rig from a couple angles (the pictured angle is pretty great)

Thanks!

[2015-02-18 18:59] jywarren commented on #14
yes please; could I just do a single ensemble photo? It needs the 3.0 spec,
right?

On Wed, Feb 18, 2015 at 12:59 PM, Natalie notifications@github.com wrote:

[2015-02-18 19:02] Nataliegurl commented on #14
Yep, that's it

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLab http://www.facebook.com/PublicLab_

_Twitter: @PublicLab, @natcat5050_
_Instagram: public_lab_

On Wed, Feb 18, 2015 at 10:

[2015-02-18 21:26] Nataliegurl commented on #14
also the picture on this page needs to be updated,
http://publiclab.org/wiki/spectrometer
I don't know how to save a picture as an address.

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 401Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLa

[2015-02-19 00:35] Fastie commented on #18
- "Aerial camera bracket" (19+2 characters)
- Included:
  1. 3D printed parts
  2. Legs and bumpers
  3. Hardware
  4. Tripod thumb screw

Except that many orders will also include a Picavet Kit and/or Pendulum Kit. So the list could be immediately followed by some check boxes:
- Redstone Rig Kit
- Picavet Kit
- Pendulum Kit

Or combine parts list and check boxes:
- Redstone Rig Kit
  1. 3D printe

[2015-02-19 03:36] Nataliegurl commented on #18
That works, unless it gets too cluttered our we run our of room. Then I
would just list the redstone parts and two checkboxes for Picavet or
pendulum.
On Feb 18, 2015 4:35 PM, "Fastie" notifications@github.com wrote:

[2015-02-23 17:20] jywarren commented on #18
In dropbox/plots/retail/universal-boxes/redstone/

[2015-02-23 17:21] jywarren commented on #18
erg! not that!

this:

![screen shot 2015-02-23 at 12 20 23 pm](https://cloud.githubusercontent.com/assets/24359/6332827/7318b0e4-bb56-11e4-8811-a54728583666.png)

[2015-02-23 17:21] #18 closed, assigned to nobody

[2015-02-27 23:37] Nataliegurl commented on #17
Ping

[2015-02-27 23:42] Nataliegurl opened #19 "Sticker label for Pole Kits 1.2"x13""
@jywarren @mathewlippincott
from our brainstorm:
Need 25 sticker labels. These are basically rectangle stickers we are using to cover the the CARP Gangster part of the outside pole label. I think they would be cool if there were 25 individual stickers with pole "names" e.g. "the drone swatter," "selfie shamer," "longest selfie pole ever." and of course somewhere on there they should say, brought t

[2015-03-23 22:37] mathewlippincott commented on #19
How about this? I made it black to match the pole.  in design 3-23-15-mapping-pole-sticker
![screen shot 2015-03-23 at 3 35 40 pm](https://cloud.githubusercontent.com/assets/1203280/6792139/69b95bca-d172-11e4-9d82-afc0b2391ed4.png)

[2015-03-23 22:44] jywarren commented on #19
haha rad :-)

On Mon, Mar 23, 2015 at 6:37 PM, mathew lippincott <notifications@github.com

[2015-03-25 22:04] #19 closed, assigned to nobody

[2015-03-26 17:29] Nataliegurl commented on #4
This issue was closed, but I just want to bring up that we are going to
need to reorder very soon, and have them reprinted. So now is the time to
request changes.

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 307Portland, OR 97209_

_T: 971.570.5095_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: ww

[2015-04-01 18:39] Nataliegurl opened #20 "Pole Mapping Lead Image for store home page"
Debuting the pole mapping kit today and need an image for the carousel with some text. "Low aerial mapping, real estate photos, with the PL Pole Mapping Kit" or some such wording. I'll drop some sample images I have but none are very great.

[2015-04-01 18:42] Nataliegurl commented on #20
![img_1303](https://cloud.githubusercontent.com/assets/7808557/6948633/e4fd1a2c-d863-11e4-8668-0d0dab7b652e.JPG)
![pole11](https://cloud.githubusercontent.com/assets/7808557/6948638/ee69ca1a-d863-11e4-9cac-6d1f0cee4ea5.JPG)
![img_1307](https://cloud.githubusercontent.com/assets/7808557/6948651/01822796-d864-11e4-8691-51a10a508292.JPG)
![img_1129](https://cloud.githubusercontent.com/assets/7808557/

[2015-04-01 18:50] jywarren commented on #20
Hmm, this is tough to photograph. Is there any way you can photograph it
- completely straight down from above
- with the poles spaced out by at least 1cm
- in descending size
- on smooth concrete
- in sunlight
- maybe in the garage on the bottom floor?

Something like this:
![bamboo](https://cloud.githubusercontent.com/assets/24359/6948844/6dc96e68-d87e-11e4-9f43-9bc89b5e937f.png)

[2015-04-01 18:50] jywarren commented on #20
or on the sidewalk maybe

[2015-04-03 20:26] Nataliegurl opened #21 "5th Anniversary Lead image for carousel in store"
Along with the Pole Mapping Kits. I don't know what graphics or images are being used for the fundraising or comdev teams but the same could be used for this. I think it will help with consistency or a unified message.

[2015-04-03 20:28] jywarren commented on #21
OK, is next monday (10 days from now) all right? Do you have specific text etc? Perhaps you can circle back with liz, stevie or becki about what they're doing?

[2015-04-03 20:37] Nataliegurl commented on #21
I think "Celebrate 5 years with Public Lab" works. 'All Mapping kits on sale all month long." If there is a better way to incorporate this too...

[2015-04-03 20:40] jywarren commented on #21
Where would it lead when people click on it?

On Fri, Apr 3, 2015 at 4:37 PM, Natalie notifications@github.com wrote:

[2015-04-03 20:46] Nataliegurl commented on #21
The Mapping Kits collections page

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 307Portland, OR 97209_

_T: 971.570.5095_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLab http://www.facebook.com/PublicLab_

_Twitter: @PublicLab, @natcat5050_
_Instagram: public_lab_

On Fri,

[2015-04-07 17:25] Nataliegurl commented on #20
[image: Inline image 4][image: Inline image 3][image: Inline image 2][image:
Inline image 1]

--
Natalie Mayorga

*Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 307Portland, OR 97209*

*T: 971.570.5095*

*F: 504.324.0401*

*Natalie@publiclab.org <Natalie@publiclab.org>*

*www.publiclab.org <http://www.publiclab.org>*

*FB: www.facebook.com/PublicLab <http://www.facebook.com/PublicLab>*

*Twi

[2015-04-09 22:08] Nataliegurl commented on #20
![polesample2](https://cloud.githubusercontent.com/assets/7808557/7078002/2be8f08e-deca-11e4-82ca-c97cd9460256.png)
![polesample1](https://cloud.githubusercontent.com/assets/7808557/7078009/3fdc9db6-deca-11e4-9785-8d61fa96cbd1.png)

[2015-04-09 22:08] Nataliegurl commented on #20
Here's what I came up with, at least temporarily.

[2015-04-09 22:14] Nataliegurl opened #22 "MultispeQ co-branding w/Public Lab (revisited)"
The PhotosynQ peeps came up with a new logo that is pretty cool. I would like to use this for our co-branding labels as soon as you get a chance. If you could do another version that says "PhotosynQ" directly below the logo, I would like to print 3x3 square stickers as well.

![logo 512](https://cloud.githubusercontent.com/assets/7808557/7078057/a58eaf46-deca-11e4-87a5-acdffcf37de5.png)
![icon 512

[2015-04-13 14:45] jywarren commented on #22
Hi, Natalie - can you get a vector version of that, in svg or pdf?

[2015-04-13 14:47] jywarren commented on #20
Hi, Natalie - can you try for a non-diagonal version as well, and on concrete? And is it possible to upload a higher resolution photo?

[2015-04-13 16:48] jywarren commented on #21
How about this?

![kits-banner-dark](https://cloud.githubusercontent.com/assets/24359/7120480/6ffbbae0-e1db-11e4-959a-56f941086819.png)
![kits-banner](https://cloud.githubusercontent.com/assets/24359/7120481/6fff612c-e1db-11e4-9fff-7693dcaa9921.png)

[2015-04-13 16:49] jywarren commented on #21
I can crop to size if you like.

[2015-04-13 18:36] Nataliegurl commented on #21
Yeah! The top one is easier to read

##

Natalie Mayorga

_Kits Initiative ManagerPublic Lab412 NW Couch, Ste. 307Portland, OR 97209_

_T: 503.902.5874_

_F: 504.324.0401_

_Natalie@publiclab.org Natalie@publiclab.org_

_www.publiclab.org http://www.publiclab.org_

_FB: www.facebook.com/PublicLab http://www.facebook.com/PublicLab_

_Twitter: @PublicLab, @natcat5050_
_Instagram: public_lab_

On Mon

[2015-04-13 18:41] #21 closed, assigned to nobody

[2015-04-13 22:09] #15 closed, assigned to jywarren

[2015-05-06 16:46] jywarren commented on #22
Vector: https://www.dropbox.com/sh/f96xpyi9i34bpv3/AAA8zU3XJKuBQY_RKxBwc93na?dl=0

new versions in /plots/retail/universal-boxes/photosynq/

[2015-05-06 16:46] #22 closed, assigned to nobody

[2015-05-06 16:48] #6 closed, assigned to nobody

[2015-05-06 16:48] #1 closed, assigned to jywarren